<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @bookshelf.name %>
</p>

<%= link_to 'Edit', edit_user_bookshelf_path(@bookshelf) %> |
<%= link_to 'Back', user_bookshelves_path %>
